.header {
  width: auto;
  height: 130px;
  margin: auto;
  padding: 10px;
  text-align: center;
  font-family: 'Rancho', sans-serif;
  font-size: 5.20em;
  font-weight: bold;
  color: maroon;
  border-bottom: 3px solid;
  border-color: darkgray;
}
.links {
  width: 100%;
  height: 60px;
  margin: auto;
  padding: 0px;
  text-align: center;
  font-size: 1.05em;
  border-bottom: 3px solid;
  border-color: darkgray;
}
.middle {
  width: 100%;
  margin-top: 3px;
  margin-bottom: 3px;
  padding: 0px;
  text-align: center;
  border-top: 3px solid;
  border-bottom: 3px solid;
  border-color: rgb(213,153, 93);
  background-color: rgb(254,230,205);
  min-height: calc(100vh - 370px);
  background-image:url(http://i141.photobucket.com/albums/r74/FZ-28s/986dc2e0-5f65-405c-a3a5-f4317e3b6db9_zps5wwrbar0.jpg);
  display: block;
  background-repeat: repeat-x;
  background-position: bottom;
  background-blend-mode: soft-light;
}
.footer {
  width: auto;
  height: 80px;
  margin: auto;
  padding: 0px;
  text-align: center;
  border-top: 3px solid;
  border-bottom: 3px solid;
  border-color: darkgray;
}
ul {
  list-style-type: none;
  margin: 1px;
  padding: 10px;
  overflow: hidden;
  background-color: #660000;
}
li {
  float: left;
}
li a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 26px;
}
a:link {
  text-decoration: underline;
  font-weight: none;
}
a:visited {
  color: rgb(254,230,205);
  text-decoration: underline;
  font-weight: none;
}
a:hover {
  color:white;
  background-color: none;
  text-decoration: underline;
  font-weight: bold;
}
a:active {
  color:gold;
  font-weight: none;
  text-decoration: none;
  font-weight: none;
}