.header {
  width: auto;
  height: 130px;
  margin: auto;
  padding: 10px;
  text-align: center;
  font-family: 'Rancho', sans-serif;
  font-size: 5.20em;
  font-weight: bold;
  color: maroon;
  border-bottom: 3px solid;
  border-color: darkgray;
}
.links {
  width: 100%;
  height: 60px;
  margin: auto;
  padding: 0px;
  text-align: center;
  font-size: 1.05em;
  border-bottom: 3px solid;
  border-color: darkgray;
}
.middle {
  width: 100%;
  margin-top: 3px;
  margin-bottom: 3px;
  padding: 0px;
  text-align: center;
  border-top: 3px solid;
  border-bottom: 3px solid;
  border-color: rgb(213,153, 93);
  background-color: rgb(254,230,205);
  min-height: calc(100vh - 350px);
}
.footer {
  width: auto;
  height: 80px;
  margin: auto;
  padding: 0px;
  text-align: center;
  border-top: 3px solid;
  border-bottom: 3px solid;
  border-color: darkgray;
}
ul {
  list-style-type: none;
  margin: 1px;
  padding: 10px;
  overflow: hidden;
  background-color: #660000;
}
li {
  float: left;
}
li a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 26px;
  text-decoration: none;
}