th, td{
  padding: 7px;
}

img.displayed {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: -50px;
}
.table1 {
  text-align: center;
  border-bottom: 2px solid black;
  width:100%;
  margin:auto;
  padding:0px;

}

.table2 {
  text-align: left;
  width:78%;
  margin:auto;
  padding:0px;
}

.table3 {
  text-align: center;
  border:1px solid black;
  width:85%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  border-collapse:collapse;
  text-align: center;
}