.header1 {
  text-align: center;
  font-family: 'Rancho', sans-serif;
  font-size: 7.50em;
  font-weight: bold;
  color: maroon;
}
.header2 {
  text-align: center;
  font-family: 'Lobster', serif;
  font-size: 3.30em;
  font-weight: bold;
}
.border {
  width: 100%;
  height: 86px;
  margin: -25px 0px 5px 0px;
  padding: 25px 0px 10px 0px;
  border-top: 3px solid;
  border-bottom: 3px solid;
  border-color: darkgray;
}
.navbar {
  margin: -20px 0px 10px 0px;
  padding: 5px 0px 5px 5px;
  background-color: maroon;
}
li a {
  color: white;
  text-align: center;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:focus {
  background-color: rgb(208,0,0);
}
.nav-pills>li.active>a:hover {
  background-color: rgb(254,230,205);
  color: maroon;
}
.nav-pills>li a:hover {
  background-color: rgb(254,230,205);
  color: maroon;
}
.panel-body {
  width: 100%;
  margin: 0px;
  padding: 0px;
}
.middle {
  width: 100%;
  margin: 15px 0px 0px 0px;
  text-align: center;
  background-color: white;
  background-size: contain;
  background-repeat: no-repeat;
}
.bg-1{
  width: 100%;
  background-color: rgb(254,230,205);
  background-image:url(http://i141.photobucket.com/albums/r74/FZ-28s/986dc2e0-5f65-405c-a3a5-f4317e3b6db9_zps5wwrbar0.jpg);
  background-repeat: repeat-x;
  background-position: bottom;
  background-blend-mode: soft-light;
  border-top: 3px solid;
  border-bottom: 3px solid;
  border-color: rgb(213,153, 93);
}
.bg-2{
  background-image:url(http://i141.photobucket.com/albums/r74/FZ-28s/paperPlate_zpsfafqikct.jpg);
  background-position: top;
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  padding-bottom: 40%; /* padding BELOW background Image */
}
.panel-footerMain{
  width: 100%;
  height: 80px;
  margin: 5px 0px 5px 0px;
  padding: 0px;
  background-color: rgb(232,232,232);
  text-align: center;
  border-top: 3px solid;
  border-bottom: 3px solid;
  border-color: darkgray;
}
.introEnd {
  text-align: center;
  font-family: 'Rancho', sans-serif;
  font-size: 2.0em;
  font-weight: bold;
  font-style: italic;
  color: firebrick;
}
h4, h2, td, .panel-heading, .panel-footer {
  color: rgb(120, 120, 120);
}