.bandMembers {
  width: 78%;
  margin: auto;
  padding-left: 7px;
}
.tracksTable {
  text-align: center;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}
.font1 {
  font-family: "Homemade Apple", cursive;
  font-size: 1.70em;
  padding-top: 30px;
  text-align: center;
}
div.font1 {
  text-align: center;
  font-size: 2.60em;
  font-weight: bold;
  padding-top: 15px;
  padding-bottom: 15px;
}
.font2 {
  text-align: center;
  font-size: 2.0em;
  font-weight: bold;
  padding-top: 15px;
  padding-bottom: 15px;
}
.font3 {
  text-align: center;
  font-size: 1.30em;
  font-weight: bold;
  padding-top: 25px;
  padding-bottom: 30px;
}