.head {
    text-align: center;
    border-bottom: 2px solid black;
    margin: auto;
}

.links {
    width: 100%;
    padding: 15px;
    text-align: center;
    border-bottom: 2px solid black;
}

.link1 {
    width: 80px;
}

.link2 {
    width: 100px;
}

.foot {
    text-align: center;
    border-bottom: 2px solid black;
    border-top: 2px solid black;
    margin: auto;
    padding: 0px;
}