div.image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: -50px;
}
.font1 {
  font-family: "Homemade Apple", cursive;
  font-size: 1.70em;
  font-weight: bold;
  color: rgb(96,96,96);
  padding-top: 30px;
  text-align: center;
}
div.font1 {
  font-size: 2.70em;
  padding-top: 0px;
  padding-bottom: 10px;
}
.font2 {
  text-align: center;
  font-size: 2.30em;
  font-weight: bold;
  padding-top: 15px;
  padding-bottom: 15px;
}
.font3 {
  text-align: center;
  font-size: 1.50em;
  font-weight: bold;
  color: rgb(96,96,96);
  padding-top: 10px;
  padding-bottom: 30px;
}
a {
  color: rgb(38, 115, 38);
}
a:hover {
  text-decoration: underline;
  font-style: italic;
  color: rgb(50, 154, 50);
  background-color: gainsboro;
}
hr {
  display: block;
  border: 0;
  height: 2px;
  background: #333;
  background-image: linear-gradient(to right, #ccc, #333, #ccc);
}
.bandMembers {
  width: 90%;
  margin: auto;
  padding-left: 7px;
}
#list1 {
  text-align: left;
  font-style: italic;
  font-size: 1.40em;
  font-weight: bold;
}
li {
  padding: 5px;
  color: rgb(96,96,96);
}
caption{
  text-align: center;
}
table, th, td {
  padding: 10px;
  text-align: center;
  font-size: 1.10em;
  color: rgb(96,96,96);
}
th {
  background-color:#D0D0D0;
}
td{
  font-style: italic;    
}
table, tr:nth-child(odd){
  background-color: #FAEBD7;
}
.table-bordered{
  border: 3px solid black;
}
.table tr, .table col {
  border: 2px solid black;
}
